<template name="afSignature">
    <div id="signature-pad" class="m-signature-pad card">
        <div class="m-signature-pad--body ">
            <canvas class="w-100"></canvas>
        </div>
        <div class="m-signature-pad--footer float-left">
            <button class="btn btn-danger clear" data-action="clear">Clear</button>
            <button class="btn btn-primary clear" data-action="save">Save</button>
        </div>
    </div>
    <input data-schema-key={{schemaKey}} type="hidden" value="{{dataURI}}"/>
</template>